- if @transcription.errors.any?
  .row.error_dialogue
    .large-12.columns
    The form contains #{pluralize(@transcription.errors.count, 'error')}:
    %ul
      - @transcription.errors.full_messages. each do |msg|
        %li= msg
