%h1 Transcriptions
= link_to 'New Transcription', new_transcription_path
%ul
  - @transcriptions.each do |trans|
    %li
      %em #{ link_to(trans.song_title, trans) }
      \ ~ #{trans.soloist_last_name}, #{trans.soloist_first_name}
