.row
  #transcription_links.large-4.columns.large-centered
    .hollow.button= link_to('View Full Screen',
      pdfjs.full_path(file: image_path(@transcription.pdf)),
      target: '_blank')
    .hollow.button= link_to('Edit',
      edit_transcription_path(@transcription))
    .hollow.button= link_to('Delete',
      @transcription,
      method: :delete,
      data: { confirm: 'If you must...' })

.row
  #audio_player.large-12.columns
    = audio_tag @transcription.mp3,
      controls: true,
      preload: 'auto'


.row
  .large-12.columns#min_pdf_viewer
    %iframe{ src: pdfjs.minimal_path(file: image_path(@transcription.pdf)),
      height: '700px',
      width: '900px' }
